/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$balanced:                        #682869 !default;
$assertive:                       #E91E63 !default;
$calm:                            #698EED !default;


$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #536DFE !default;
$calm:                            #43cee6 !default;
$energized:                       #f0b840 !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
$gapSmall: 1em;
$gapMedium:   3em;
$gapLarge: 4em;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

$RobotoDraftFontPath: "/bower_components/robotodraft/fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

@import "app/bower_components/robotodraft/sass/robotodraft.scss";  

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.background-balanced {
  background-color: $balanced;
}

ion-nav-bar {
  md-progress-linear {
    z-index: 1024;
    position: absolute;
    top: 43px;
    .md-bar {
      background-color: $balanced;
      border-top: none;
    }
  }
}

.mapScreen {
  .leaflet-control-attribution {
    position: absolute;
    bottom: 10vh;
    right: 0;
    left: 0;
    opacity: 0.5;

  }
  .mapSubmitSection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
  }
}
.mapAddress {
  height: 2em;
  width: 100%;
}
.mapSubmit {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $positive;
    color: $light;
    font-size: 18px;
}

.detailPhoto {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 8em;
  &-preview {
    width: 8em;
    height: 7em;
    background-size: cover;
    background-position: center;
  }

  .icon {
    font-size: 4em;
  }
  &-copy {
    margin-top: $gapSmall;
    font-size: 18px;
  }
  &-input {
    opacity: 0;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
}

.loginScreen {
  &-photoContainer {
    margin: 2em;
    text-align: center;
  }
  &-photo {
    width: 10em;
    height: 10em;

  }
}

