<ion-view view-title="Concrn">
  <!-- do you want padding? -->
  <ion-content>
    <div class="detail padding">
      <div class="detailPhoto">
        <i class="icon ion-camera" ng-if="!report.photo"></i>
        <img class="detailPhoto-preview" ng-style="{'background-image': 'url(' + report.photo + ')'}" ng-if="report.photo"></img>
        <span class="detailPhoto-copy">Take Photo</span>
        <input class="detailPhoto-input" fileread="report.photo" name="photo" id="photoButton" type="file" accept="image/*" capture="camera">
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Urgency
          </div>
          <select ng-model="report.urgency" ng-options="o.id as o.label for o in urgencyValues">
          </select>
        </label>
        <label class="item item-input">
          <textarea ng-model="report.nature" placeholder="Add additional important information here"></textarea>
        </label>
      </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="finishReport()">
      <md-progress-linear md-mode="{{loadMode}}" value="{{loadProgress}}"></md-progress-linear>
      <div class="title">Finish</div>
    </div>
</ion-view>
