<ion-view view-title="Concrn">
  <ion-nav-buttons side="secondary">
   <a href="tel:911" class="button">
     911
   </a>
 </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content>
    <div class="detail">
      <div class="detailPhoto" ng-click="takePhoto()" ng-hide="natureVisible">
        <i class="icon ion-camera" ng-if="!report.photo"></i>
        <img class="detailPhoto-preview" ng-style="{'background-image': 'url(' + report.photo + ')'}" ng-if="report.photo"></img>
        <span class="detailPhoto-copy">Take Photo</span>
      </div>
      <div class="list" ng-hide="natureVisible">
        <div class="item item-divider">
          Urgency
        </div>
        <div class="item">
          <button class="button button-small" ng-class="{'button-assertive': isUrgency(o)}"
              ng-repeat="o in urgencyValues" ng-click="setUrgency(o)">
              {{o.label}}</button>
        </div>
        <div class="item item-divider">
          Gender
        </div>
        <div class="item">
          <button class="button button-small" ng-class="{'button-positive': isGender(o)}"
              ng-repeat="o in genderValues" ng-click="setGender(o)">
              {{o}}</button>
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            Age
          </div>
          <select ng-model="report.age" ng-options="o for o in ageValues">
          </select>
        </label>
      </div>
      <div class="list">
        <div class="item item-divider item-icon-right" ng-show="natureVisible">
          Notes
          <i class="icon ion-chevron-up" ng-click="hideNature()"></i>
        </div>
        <label class="item item-input">
          <textarea ng-focus="showNature()" ng-blur="hideNature()" ng-model="report.nature" placeholder="Add additional important information here"></textarea>
        </label>
      </div>
    </div>
  </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="finishReport()">
      <md-progress-linear md-mode="{{loadMode}}" value="{{loadProgress}}"></md-progress-linear>
      <div class="title">Finish</div>
    </div>
</ion-view>
