<div class="modal" ng-controller="LoginCtrl">
  <ion-content>
    <div class="loginScreen">
      <div class="loginScreen-photoContainer">
        <img class="loginScreen-photo" src="/images/concrn-38.png">
        </img>
      </div>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="responder.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone" ng-model="responder.phone">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="updateReporter()">Continue</button>
        </div>
      </div>
    </div>
  </ion-content>
</div>
