<ion-view view-title="Concrn">
  <!-- do you want padding? -->
  <ion-content>
    <div class="loginScreen">
      <div class="loginScreen-photoContainer">
        <img class="loginScreen-photo" src="/images/concrn-38.png">
        </img>
      </div>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="responder.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone" ng-model="responder.phone">
        </label>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced" ng-click="updateReporter()">
    <div class="title">Done</div>
  </div>
</ion-view>
