<ion-view view-title="concrn">
  <!-- do you want padding? -->
  <ion-content>
    <div class="loginScreen">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive activated">Submit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
