<ion-view view-title="Concrn">
  <ion-content>
    <div class="mapScreen">
      <leaflet tiles="tiles" lf-center="center" markers="markers" height="90vh" width="100%" min-zoom="13" max-zoom="17"></leaflet>
      <div class="mapSubmitSection" ng-show="addressLabel">
        <div class="mapAddress" ng-click="changeAddress()">{{addressLabel}}</div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm" ng-click="submitReport()">
    <md-progress-linear md-mode="{{loadMode}}" value="{{loadProgress}}"></md-progress-linear>
    <div class="title">Submit Report</div>
  </div>
</ion-view>
