<div class="modal" ng-controller="SubmitCodeModalCtrl">
  <ion-content>
    <div class="loginScreen">
      <div class="loginScreen-photoContainer">
        <img class="loginScreen-photo" src="main/assets/images/concrn-38.png">
        </img>
      </div>
      <div class="list">
        <label class="item">
          <span>Please enter the code texted to you</span>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Code" ng-model="data.code">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="submitCode()">Verify</button>
        </div>
      </div>
    </div>
  </ion-content>
</div>
