<div class="modal" ng-controller="VerifyModalCtrl">
  <ion-content>
    <div class="loginScreen">
      <div class="loginScreen-photoContainer">
        <img class="loginScreen-photo" src="main/assets/images/concrn-38.png">
        </img>
      </div>
      <div class="list">
        <label class="item">
          <span>We need to verify your phone number by sending you a text before you can turn on responder mode</span>
        </label>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="textVerificationCode()">Send Verification Code</button>
        </div>
      </div>
    </div>
  </ion-content>
</div>
